
*{
    font-family: 'Lato', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1, h2 {
    color: olive;
}

h3, h4, h5, h6 {
    color: #252424;
    font-weight: 900    ;
}

.Header {
    display: inline;
}
.header > div {
    position: relative;
    width: 50%;
    display: inline;
}
.Header h1 {
    position: relative;
    top: 50px;
}
.brooke {
    position: relative;
    left: 80%;
    top: -40px;
    width: 50%;
 } 
.photo {
    border-radius: 50%;
    width: 100px;
    height: auto !important;
    position: relative;
}

